@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: theme('colors.gray.100'); 
  transition: background-color 0.5s;
}

.theme-icon {
  transform: rotate(0deg);
  opacity: 1;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

html.dark .theme-icon {
  transform: rotate(180deg);
}


.un {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.un::after {
  content: "";
  position: absolute;
  width: 99%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 3px;
  bottom: 0;
  left: 0;
  background: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.un:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}